APP_NAME=AIoT Tool Monitoring API
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=aiot_monitor
POSTGRES_USER=aiot_user
POSTGRES_PASSWORD=aiot_password

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_DETECT=rail/line1/siteA/detect
MQTT_TOPIC_ALERT=rail/line1/siteA/alert
